header {margin: 30px;
  display: grid;
  flex-wrap: column;
    font-size:30px;
 font-style:italic ;
 background-color: burlywood ;
 color: rgba(77, 14, 14, 0.822);
}

li {
  display: inline;
float: right ;
margin-inline-end: 40px ;
font-size: 20px;
color: rgb(83, 39, 8);
}


head{
  align-items: center;
}
h1 {color:rgb(172, 26, 26);
    text-shadow: 3px 3px rgb(245, 134, 30);margin: 30px;
font-size: 300%;

}
  .container {
    position: relative;
    width: 50%;
    margin: 30px;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color :rgb(196, 63, 14);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .text {
    white-space: nowrap; 
    color:white;
    font-style: oblique;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  section { color: rgb(129, 51, 15);
    text-align: left;
  }
  h2 {
      color:rgb(77, 6, 6);
    font-style: italic;
    padding: 30px;
  }

   td {
    border: 1px solid black;
  }

 main { 
   display: grid;
   margin: 30px;
  flex: column;
  background-image: url("star-background.jpg");
  background-color: burlywood ;
  }
  article{
    border: black;
    height: 40%;
    max-width: 40%;
    overflow: scroll;
    margin: 30px;
  }
 /* nav img {
   float: left;
   display: grid;
   margin :30px
 } */
/* nav {
  margin-bottom: 30px;
  margin-left: 30px;
} */
table{ margin: 30px;
  border-style: inset;
font-family: 'Times New Roman', Times, serif ;
font-size: large;
font-weight: bold;
/* empty-cells: hide;} */
}
 footer {
   position: absolute;
  padding: 20px;
      clear: both;
      position: relative;
      height: 50px;
      margin: 30px;
          background-color: #501208;
          color: white;
          text-align: center;
        
      }